@import "tailwindcss";

html {
    scroll-behavior: smooth; /* Ini penting untuk smooth scrolling */
}

body::-webkit-scrollbar{
    display: none;
}

/* Untuk efek glow pada teks H1 di hero section */
.text-shadow-glow {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7),
                 0 0 15px rgba(255, 255, 255, 0.4);
}

.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--quantity));
    position: relative;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: slide 10s linear infinite;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) );
}

.slider .list .item img{
    width: 100%;
  
}

.slider:hover .item{
    animation-play-state: paused;
}

@keyframes slide{
    from{
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}

.visi{
    background-image: url('../images/dummy.png');
    height: 100vh;
    background-size: cover; /* Mengubah dari contain ke cover */
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw; /* Memastikan lebar penuh viewport */
    margin-left: calc(50% - 50vw); /* Mengatur posisi untuk keluar dari container */
    margin-right: calc(50% - 50vw);

}

.testi-container{
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    overflow-x: auto;
    flex-shrink: 0;
}

.testi-container::-webkit-scrollbar{
    display: none;
}

.pre-btn, .nxt-btn{
    top: 0;
    cursor: pointer;
}
